<header class="header{% if section == 'home' %} headerHome {% endif %}">
	<div class="row">
		<h1 class="logo heading"><a href="/"><span>B<b>en Coleman</b></span></a></h1>
		{% include 'layouts/navigation/primary.html' %}
	</div>
	{% if section == 'home' %}
		<div class="row">
			<h2 class="header_strapline">I offer <a href="/ux-design-consultancy/">UX design consultancy</a>, <a href="/digital-production/">Digital production</a> and <a href="/design-agency-support/">Design agency support</a>.</h2>
		</div>
	{% endif %}
</header>
