<section class="flat">
	<article class="cta">
		<aside>
			<img src="/assets/img/cal.jpg" alt="Calendar on desk"/>
		</aside>
		<main>
			<h2 class="heading typeXXL">Designing UX: Prototyping</h2>
			<p>In 2017 I wrote a book on using prototyping as part of the design process with <a href="https://bouncingdan.co.uk">Dan Goodwin</a></p>
			<a href="http://bit.ly/prototyping-ux" class="button buttonIcon">Check it out<svg class="icon_arrowR_svg"><use xlink:href="/assets/icons/renders/sprite.svg#arrowR"></use></svg></a>
		</main>
	</article>
</section>
