<section class="flat">
	<article class="cta">
		<main>
			<h2 class="heading typeXXL">Hire me</h2>
			<p>I currently have availability from <strong>{{ available_from }}</strong>. Get in touch to discuss your project needs.</p>
			<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#101;&#110;&#64;&#98;&#116;&#101;&#97;&#109;&#46;&#99;&#111;" class="button buttonIcon">Get in touch<svg class="icon_arrowR_svg"><use xlink:href="/assets/icons/renders/sprite.svg#arrowR"></use></svg></a>
		</main>
		<aside>
			<img src="/assets/img/cal.jpg" alt="Calendar on desk"/>
		</aside>
	</article>
</section>