<footer class="footer offset">
	<div class="row">
		<div class="footer_cols">
			<div>
				<h5 class="heading typeM">I have a particular set <nobr>of skills.</nobr></h5>
			</div>
			<div>
				<h5 class="heading typeS"><a href="/ux-design-consultancy">Design consultancy</a></h5>
				<p>Discovery &amp research, UX reviews, Prototyping and <nobr>Project design.</nobr></p>
			</div>
			<div>
				<h5 class="heading typeS"><a href="/digital-production/">Digital production</a></h5>
				<p>Creating teams to deliver digital projects for a wide array <nobr>of clients.</nobr></p>
			</div>
			<div>
				<h5 class="heading typeS"><a href="/design-agency-support/">Agency support</a></h5>
				<p>I ran a design agency for 7 years. Ask <nobr>me anything.</nobr></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="footer_cols">
			<div>
				<h5 class="heading typeM">Other stuff.</h5>
			</div>
			<div>
				<h5 class="heading typeS">Journal.</h5>
				<ul class="simple_list">
					{% for post in blogs.slice(0,3) %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div>
				<h5 class="heading typeS">Wiki.</h5>
				<ul class="simple_list">
					<li>A personal reference library of <a href="/wiki/">seldom useful stuff</a></li>
				</ul>
			</div>
			<div>
				<h5 class="heading typeS">Now.</h5>
				<ul class="simple_list">
					<li><a href="/now/">What I've been up to lately</a></li>
					<li>Follow me, <a href="https://twitter.com">@bencoleman</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="footer_toes">
			<p>&copy; 2019 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing. Vivamus euismod nisl a leo pellentesque sed lobortis ipsum commodo.</p>
			<a href="" class="footer_toes__icon"><svg class="icon_linkedin_svg"><use xlink:href="/assets/icons/renders/sprite.svg#linkedin"></use></svg></a>
			<a href="" class="footer_toes__icon"><svg class="icon_twitter_svg"><use xlink:href="/assets/icons/renders/sprite.svg#twitter"></use></svg></a>
		</div>
	</div>
</footer>