<footer class="footer offset">
	<div class="row">
		<div class="footer_cols">
			<div>
				<h5 class="heading typeM">I have a particular set <nobr>of skills.</nobr></h5>
			</div>
			<div>
				<h5 class="heading typeS"><a href="/ux-design-consultancy">Design consultancy</a></h5>
				<p>Discovery &amp research, UX reviews, Prototyping and <nobr>Project design.</nobr></p>
			</div>
			<div>
				<h5 class="heading typeS"><a href="/digital-production/">Digital production</a></h5>
				<p>Creating teams to deliver digital projects for a wide array <nobr>of clients.</nobr></p>
			</div>
			<div>
				<h5 class="heading typeS"><a href="/design-agency-support/">Agency support</a></h5>
				<p>I ran a design agency for 7 years. Ask <nobr>me anything.</nobr></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="footer_cols">
			<div>
				<h5 class="heading typeM">Other stuff.</h5>
			</div>
			<div>
				<h5 class="heading typeS">Journal.</h5>
				<ul class="simple_list">
					<li><a href="">How stories shape our choices and create impact</a></li>
					<li><a href="">The very definition of a Creative Technologist</a></li>
				</ul>
			</div>
			<div>
				<h5 class="heading typeS">Wiki.</h5>
				<ul class="simple_list">
					<li><a href="">Reference library</a></li>
					<li><a href="">The B-Team</a></li>
				</ul>
			</div>
			<div>
				<h5 class="heading typeS">Now.</h5>
				<ul class="simple_list">
					<li><a href="">Currently projects</a></li>
					<li><a href="">Follow me</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
