<footer class="footer offset">
  <div class="row">
    <div class="footer_cols">
      <div>
        <h5 class="heading typeS">What Ben does</h5>
      </div>
      <div>
        <h5 class="heading typeXS">UX &amp; Design consultancy</h5>
        <ul class="simple_list">
          <li>Discovery &amp; research</li>
          <li>UX review</li>
          <li>Prototyping</li>
          <li>Product design</li>
        </ul>
      </div>
      <div>
        <h5 class="heading typeXS">Digital production</h5>
        <ul class="simple_list">
          <li>Creating teams to deliver digital projects</li>
          <li>Creating teams to deliver digital projects</li>
        </ul>
      </div>
      <div>
        <h5 class="heading typeXS">Design agency support</h5>
        <ul class="simple_list">
          <li>Discovery &amp; research</li>
          <li>UX review</li>
          <li>Prototyping</li>
          <li>Product design</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
