{% set title = '' %}
{% set section = '' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="flat">
	<div class="row">
		<div class="article">
			<article class="post">
				<main class="typebase">
					<p>This page would have a sidebar listing pages:</p>
					<ul>
						<li><a href="#">Wiki item title that could be quite long and go onto two lines</a></li>
						<li><a href="#">Wiki item title</a></li>
						<li><a href="#">Wiki item title</a></li>
						<li><a href="#">Wiki item title</a></li>
						<li><a href="#">Wiki item title</a></li>
						<li><a href="#">Wiki item title</a></li>
						<li><a href="#">Wiki item title</a></li>
						<li><a href="#">Wiki item title</a></li>
						<li><a href="#">Wiki item title</a></li>
						<li><a href="#">Wiki item title</a></li>
					</ul>
					<p>and then be followed by standard WYSIWYG content</p>
					<p>I would say menu all the way down the left hand side, content on the right</p>
				</main>
			</article>
		</div>
	</div>
</section>
{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
