
.header {
  position: relative;
  padding: 5em $bufferSpaceS;
  background-color: $cAbernathy;
  color: #fff;
  @include respond-to($vpMenu) {
    padding-left: $bufferSpaceM;
    padding-right: $bufferSpaceM;
    padding-bottom: 8em;
  }
}
