
section {
  position: relative;
  padding: 15% $bufferSpaceS;
  background-repeat: repeat;
  background-position: top center;
  background-color: #fff;
  @include respond-to($vpMenu) {
    padding-left: $bufferSpaceM;
    padding-right: $bufferSpaceM;
  }
  // Textures
  // -------------------------------------------
  &.texD {
    background-image: url(../assets/img/texD.png);
  }
  &.texT1 {
    background-image: url(../assets/img/texT1.png);
  }
  &.texT2 {
    background-image: url(../assets/img/texT2.png);
  }
  &.texT3 {
    background-image: url(../assets/img/texT3.png);
  }
  &.texT4 {
    background-image: url(../assets/img/texT4.png);
  }
  &.texT5 {
    background-image: url(../assets/img/texT5.png);
  }
  // Contrast types
  // -------------------------------------------
  &.contrastD {
    background-color: $cStubbs;
    color: #fff;
    .heading {
      color: #fff;
    }
  }
  &.contrastL {
    background-color: #fff;
    background-image: linear-gradient(to bottom, $cSizemore, #fff 10%);
  }
  // Offset the top margin
  // -------------------------------------------
  &.offset {
    padding-top: 5em;
    @include respond-to($vpMenu) {
      padding-top: 8%;
      padding-bottom: 10%;
    }
  }
  // Kill the padding
  // -------------------------------------------
  &.flat {
    padding: 0;
    @include respond-to($vpMenu) {
      padding: 0;
    }
  }
  // Kill the padding
  // -------------------------------------------
  &.logoblock {
    border-bottom: 1px solid darken($cSizemore, 5%);
    .heading {
      margin-bottom: 1em;
    }
    .button {
      @include respond-to($vpMenu) {
        position: absolute;
        top: -2px;
        right: 0;
        font-size: rem($typeS);
        background-color: transparent;
        text-align: right;
        color: $cAction;
        text-decoration: underline;
        line-height: auto;
        padding: 0;
        border: none;
        text-decoration-color: $cHeading;
        transition: none;
        @include link-active-styles {
          border: none;
          text-decoration-color: $cAction;
          text-decoration: underline;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  // Blog
  // -------------------------------------------
  &.blog {
    > h1 {
      font-size: 12.5vw;
      line-height: 1.3;
      padding: 1em 0;
      text-align: center;
    }
  }
}
