
.navP {
  &Trig {
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer;
    display: none;
    width: 40px;
    display: none;
    @include respond-to-max($vpMenu) {
      right: -12px;
      display: block;
    }
    &:before, &:after, b {
      display: block;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      margin-top: 2px;
      @include respond-to-max($vpMenu) {
        margin-left: 18px;
      }
    }
    &:before, &:after {
      content: "";
    }
  }
  @include respond-to-max($vpMenu) {
    padding-top: 1em;
    display: none;
  }
  @include respond-to($vpMenu) {
    position: absolute;
    right: 0;
    top: -0.5em;
    li {
      display: inline-block;
      margin-left: 1.5em;
      a {
        display: inline-block;
        line-height: 1;
        color: $cHeading;
        text-decoration: none;
        color: #fff;
        @include link-active-styles {
          text-decoration: underline;
          text-decoration-color: $cHeading;
        }
      }
      &.current a {
        text-decoration: underline;
        text-decoration-color: $cHeading;
      }
    }
  }
}
