
$deckgap: 80px;

footer {
  @extend section;
  background-image: url(../assets/img/texT1.png);
}

.footer {
  position: relative;
  background-color: $cStubbs;
  padding-bottom: 6em;
  padding-top: 10em;
  color: #fff;
  .row + .row {
    margin-top: 10em;
  }
  &_cols {
    display: block;
    @include respond-to($vpD) {
      display: grid;
      grid-gap: $deckgap;
      width: calc(100% - #{$deckgap*3});
      grid-template-columns: 31% 23% 23% 23%;
    }
    div {
      margin-bottom: 3em;
      @include respond-to-min-max($vpA, $vpD) {
        &:nth-of-type(1) {
          width: 60%;
          position: absolute;
          top: -3px;
        }
        &:nth-of-type(n+2) {
          width: 40%;
          margin-left: 60%;
        }
      }
      @include respond-to($vpD) {
        margin-bottom: 0;
      }
    }
  }
  .heading {
    color: #fff;
    font-family: $fontVoice;
  }
  .heading.typeXS {
    margin-top: 0.175em;
    font-family: $fontBrand;
  }
  .heading.typeM {
    margin-top: -0.175em;
    font-family: $fontBrand;
  }
  a {
    color: #fff;
    text-decoration-color: $cAbernathy;
    @include link-active-styles {
      text-decoration-color: $cDelos;
    }
  }
  li, p {
    font-size: 1.1em;
  }
  p {
    margin-top: 1em;
  }
  .simple_list {
    margin-top: 1em;
    li {
      margin-bottom: 0.75em;
      position: relative;
    }
  }
  &_toes {
    position: relative;
    p {
      width: 65%;
      color: $cWeber;
    }
    &__icon {
      width: 14px;
      height: 14px;
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      &:nth-of-type(2) {
        margin-right: 30px;
      }
      svg {
        width: 14px;
        height: 14px;
        display: block;
        &.icon_twitter_svg {
          margin-top: 1px;
        }
      }
    }
  }
}
