<button type="button" class="navPTrig" id="navPTrig"><b></b></button>
<nav class="navP" id="navigation">
	<ul>
		<li class="typeXL {% if section == 'home' %}current{% else %}{% endif %}">
			<a href="/">Home</a>
		</li>
		<li class="typeXL {% if section == 'journal' %}current{% else %}{% endif %}">
			<a href="/journal/">Journal</a>
		</li>
		<li class="typeXL {% if section == 'wiki' %}current{% else %}{% endif %}">
			<a href="/wiki/">Wiki</a>
		</li>
		<li class="typeXL {% if section == 'now' %}current{% else %}{% endif %}">
			<a href="/now/">Now</a>
		</li>
	</ul>
</nav>
