<!doctype html>
<!--[if IE 10]> <html lang="en-GB" class="no-js ie10"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--><html lang="en-GB" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'layouts/scaffold/head.html' %}
</head>

<body>
	<div class="ui__container" id="uicontainer">
		{% block header %}
			{% include 'layouts/headers/default.html' %}
		{% endblock %}
		<div class="ui__canvas">
			{% block precontent %}
			{% endblock %}

			{% block content %}
			{% endblock %}

			{% block postcontent %}
			{% endblock %}
		</div>
		{% block footer %}
			{% include 'layouts/footers/default.html' %}
		{% endblock %}
	</div>
</body>

<script>
$(function() {
	$('a').each(function() { /* [1] */
		 if ( location.hostname === this.hostname || !this.hostname.length ) { /* [1] */
			var link = $(this).attr("href"); /* [2] */
			if ( link.match("^#") ) { /* [3] */
				$(this).click(function() {
					var target = $(link); /* [4] */
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']'); /* [4] */
					if (target.length) {
						$('html,body').animate({ /* [5] */
								scrollTop: target.offset().top - 70 /* [5] */
						}, 1000); return false; /* [5] */
					}
				});
			} else if ( link.match("^mailto") ) { /* [6] */
				// Act as normal  /* [6] */
			} else {
				$(this).click(function(e) {
					e.preventDefault(); /* [7] */
					$('html').addClass('fadeSiteOut'); /* [8] */
					setTimeout(function() { /* [9] */
						window.location = link; /* [9] */
					}, 500); /* [9] */
				});
			}
		}
	});
});
</script>
{% block script %}
{% endblock %}
</html>
